
.contact-us-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color:  #e6dbc9;

}
.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 260px;
    /* margin-left: 20%;
    margin-right: 20%; */
    max-width: 550px;
    width: 100%;
    /* background-color: gold; */
}

.center-email-status {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 600px) {

    .contact-us{
        max-width: 400px;
    }
}

@media screen and (max-width: 450px) {

    .contact-us{
        max-width: 260px;
    }
}



