* {
  box-sizing: border-box;
}

/* .card-wrapper {
  display: inline-block;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 5px solid black;
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
} */
.ls-card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr 1fr 0.5fr;
  width: 100%;
  height: 100%;
  grid-gap: 1rem;
  border-radius: 20px;
  border: 5px solid black;
}
.ls-card-image {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.5rem;
}
.ls-card-title {
  font-weight: bold;
  color: black;
  text-align: center;
}

.ls-card-paragraph {
  color: darkgray;
  text-align: justify !important;
  padding: 0.5rem;
  line-height: 1.5rem;
}

.ls-technology {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 1rem;
  padding: 1rem;
}
