.card-wrapper {
  display: inline-block;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #2e3830;
  width: 20%;
  height: auto;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}
.card-title {
  font-weight: bold;
  color: #c53211;
  align-content: center;
  text-align: center;
}

.card-paragraph {
  color: #2e3830;
  align-content: center;
  text-align: center;
}

.font-awesome {
  margin-top: 10px;
}
