/* * {
    box-sizing: border-box;
} */

.thirds {
    width: 100%;
    text-align: center;
}

.tech-stack-card-wrapper {
  grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: 1fr;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;

}

.tech-stack-container-multiple {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: royalblue; */
    width: 70%;
    margin-left: 15%;
}
.tech-stack-container-single {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: royalblue; */
    width: 40%;
    margin-left: 30%;
}