* {
    box-sizing: border-box;
}

.thirds {
    width: 100%;
    text-align: center;
}

.tech-stack-card-wrapper {
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    height: 100%;
}

.tech-stack-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: 15%;

}


.center-tech-stack {
    display: flex;
    align-items: center;
    justify-content: center;
}