.text-area {
    min-width: 260px;
    max-width: 550px;
    width: 100%;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

@media screen and (max-width: 600px) {

    .text-area{
        max-width: 400px;
    }

}

@media screen and (max-width: 450px) {

    .text-area{
        max-width: 260px;
    }

}